@{
    ViewData["Title"] = "Home Page";
}

<body class= "indexx">
    <main class="indexMain">
        <div class="container">
            <button class="start-button"><a href='@Url.Action("LitadoAlumos", "Home")' >Ver listado alumnos</a></button>
            <button class="start-button"><a href='@Url.Action("GetLegajo", "Home")' >Ver detalle alumo por legajo</a></button>
        </div>
    </main>
</body>
